<ion-header no-border>
    <ion-navbar color="header"> 
        <button ion-button menuToggle>
           <ion-icon name="menu">
           </ion-icon>
        </button>
        <ion-title text-center>{{"Order Info" | translate}} 
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="order-details">

    <ion-spinner *ngIf="!orderDetails" name="crescent"> </ion-spinner>

    <div *ngIf="orderDetails">
        <ion-item-group>
            <ion-item class="top-details">
                <ion-row>
                    <ion-col class="dull">{{"Order Number" | translate }} </ion-col>
                    <ion-col text-right>{{orderDetails.number}} </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="dull">{{"Date" | translate}} </ion-col>
                    <ion-col text-right>{{orderDetails.date_created | date:'medium'}} </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="dull">{{"Payment Method" | translate}} </ion-col>
                    <ion-col text-right>{{orderDetails.payment_method_title}} </ion-col>
                </ion-row>
            </ion-item>

            <ion-item-divider>{{"Product Details" | translate}}
            </ion-item-divider>
            <ion-item *ngFor="let item of orderDetails.line_items">
                <h2><span class="dull">{{"Product Name" | translate}} :</span> {{item.name}} </h2>
                <h2><span class="dull">{{"Price" | translate}} :</span> {{item.price | currency:values.currency:symbol:'1.2-2'}} </h2>
                <h2><span class="dull">{{"Quantity" | translate}} :</span> {{item.quantity}} </h2>
                <h2><span class="dull">{{"SubTotal" | translate}} :</span> {{1*item.subtotal | currency:values.currency:symbol:'1.2-2'}} </h2>
            </ion-item>

            <ion-item-divider>{{"Billing Address" | translate}} </ion-item-divider>
            <ion-item> {{orderDetails.billing.first_name}} {{orderDetails.billing.last_name}}, <br> {{orderDetails.billing.email}} <br> {{orderDetails.billing.phone}} <br> {{orderDetails.billing.address_1}}, <br> {{orderDetails.billing.address_2}}, <br> {{orderDetails.billing.city}}, {{orderDetails.billing.state}} <br> {{orderDetails.billing.postcode}} 
            </ion-item>

            <ion-item-divider>{{"Shipping Address" | translate}} 
            </ion-item-divider>
            <ion-item> {{orderDetails.shipping.first_name}} {{orderDetails.shipping.last_name}}, <br> {{orderDetails.shipping.company}} <br> {{orderDetails.shipping.address_1}}, <br> {{orderDetails.shipping.address_2}}, <br> {{orderDetails.shipping.city}}, {{orderDetails.shipping.state}} <br> {{orderDetails.shipping.country}} <br> {{orderDetails.shipping.postcode}} 
            </ion-item>

            <ion-item-divider>{{"Total" | translate}} 
            </ion-item-divider>
            <ion-item>
                <ion-row>
                    <ion-col class="dull">{{"SubTotal" | translate}} </ion-col>
                    <ion-col text-right>{{(1*orderDetails.total - 1*orderDetails.shipping_total - 1*orderDetails.total_tax) | currency:values.currency:symbol:'1.2-2'}} </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="dull"> {{"Shipping Total" | translate}} </ion-col>
                    <ion-col text-right>{{1*orderDetails.shipping_total | currency:values.currency:symbol:'1.2-2'}} </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="dull">{{"Tax Total" | translate}} </ion-col>
                    <ion-col text-right>{{1*orderDetails.total_tax | currency:values.currency:symbol:'1.2-2'}} </ion-col>
                </ion-row>
                <ion-row text-uppercase>
                    <ion-col class="dull">{{"Grand Total" | translate}} </ion-col>
                    <ion-col text-right>{{1*orderDetails.total | currency:values.currency:symbol:'1.2-2'}} </ion-col>
                </ion-row>
            </ion-item>
        </ion-item-group>
    </div>
</ion-content>